<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  親愛的 <%=@email_property[:contact_name]%>，<br/>
<p>
  感謝您通過GoodCity提交 <%=@email_property[:booking_type_zh]%> <%=@email_property[:order_code]%>。
</p>
<p>
  我們的團隊將會開始審核，如有任何疑問，我們會與您聯絡。確認 <%= @email_property[:booking_type_zh]%>後，您將收到另一封電子郵件。由於義工人手有限，若我們無法提供部份物資或確認您的首選時段，我們對此深表歉意。
</p>
<p>
  需要修改您的<%=@email_property[:booking_type_zh]%>？ 請登入 <a href="https://<%= @email_property[:domain]%>.goodcity.hk">https://<%= @email_property[:domain]%>.goodcity.hk</a> 及按下"控制板面" 以更新您的紀錄。
  如有任何疑問，請隨時回覆此郵件。
</p>
<p>
  我們期待您的服務使用者蒞臨十字路會，亦希望能夠為您提供協助!<br/>
  香港分派中心<br/>
  國際十字路會<br/>
  聯絡電話: 2196 2743<br/>
  聯絡電郵: local@crossroads.org.hk
</p>
</body>
</html>
