<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  Dear <%= @email_property[:contact_name]%>, <br/> <br/>
  Thank you for submitting <%= @email_property[:booking_type]%> <%= @email_property[:order_code] %> via GoodCity.
  <br/>
  <p>
    Our team will start reviewing this soon and will contact you if they have questions. You will receive another email when the <%= @email_property[:booking_type]%> is confirmed. We apologize if some of the requested items are unavailable or if we cannot confirm your preferred time-slots due to limited volunteer manpower.
  </p>
  <p>
    Need to reschedule or modify your <%= @email_property[:booking_type]%>? Log in at <a href="https://<%= @email_property[:domain]%>.goodcity.hk">https://<%= @email_property[:domain]%>.goodcity.hk</a> and click on “dashboard” to access or modify your records.
  </p>
  <p>
    Please feel free to reply to this message if you have further enquiries.
  </p>
  <p>
    We look forward to receiving your client and hope we may help!
  </p>
  <p>
    Yours sincerely,<br/>
    Hong Kong Distribution Office<br/>
    Crossroads Foundation<br/>
    Office Tel: 2272 9343<br/>
    Email: local@crossroads.org.hk
  </p>
</body>
</html>
