<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <b>Attention: </b> <%= @email_property[:contact_name]%> <br/>
    <%= @email_property[:contact_organisation_name_en]%> <br/>
    <b>Our Ref#:</b> <%= @email_property[:order_code]%> <br/>
    <% if @email_property[:client]%>
      <b>Client Name:</b> <%= @email_property[:client][:name]%> <br/>
      <b>Client contact:</b> <%= @email_property[:client][:phone]%> <br/>
      <b> <%= @email_property[:client][:id_type]%> </b>  *** <%= @email_property[:client][:id_no]%>(*) <br/>
    <% end %>
<br /> <br/>
Dear <%= @email_property[:contact_name]%>, <br/>

<h4>RE: RECEIVING GOODS FROM CROSSROADS</h4>

Thank you for your enquiry.  We would be delighted to help in any way we can. <br/> <br/>

This email is to confirm an appointment for <%= @email_property[:scheduled_at]%><br/> <br/>
<% if @email_property[:client] %>

  Please ask your client to:
  <ul>
    <li>
      <b>bring this confirmation letter and their identity document.</b>
    </li>
    <li>
      <b>arrive on time.</b> We have many people to care for each day so, if your client arrives more than 30 minutes late, we may need to reschedule the appointment.
    </li>
    <li>
      <b> let us know if he/she cannot make it.</b> It is sad for us to be turning down others in need, only to find a scheduled appointment is not kept.
    </li>
    <li>
      <b>
        respect our volunteer staff.
      </b>
    </li>
    <li>
      <b>
        read the guidelines below.
      </b> Please give your client a copy of the guidelines and, if he or she cannot read, explain it to them.
    </li>
  </ul>

  <br/>
  We look forward to receiving your client and hope we may help! <br/>

<% else %>
  Please ensure you:
  <ul>
    <li>
      <b>bring this confirmation letter</b> (or note your reference number <%= @email_property[:order_code]%>)
    </li>
    <li>
      arrive on time or let us know if you are delayed. We have many people to care for each day so, if you are more than 30 minutes late, we may need to reschedule the appointment.
    </li>
    <li>
      read the guidelines below
    </li>
  </ul>

  <br/>
  We look forward to receiving your client and hope we may help! <br/>

<% end %>
<br/>
Yours sincerely, <br/>

<%= @email_property[:staff_member_name]%> <br/>
Hong Kong Distribution <br/>
Office Tel: 2196 2743 <br/>
Email: local@crossroads.org.hk<br/>

<br/>

<h4>CROSSROAD'S GUIDELINES</h4>
We look forward to serving you at Crossroads. Here are some guidelines for your visit. <br/>

<h4>WHERE IS CROSSROADS?</h4>
Crossroads Village, 2 Castle Peak Road, Tuen Mun (opposite Gold Coast Phase 1). The Hong Kong Distribution office is located in Block 30. <br/>
A map and transport directions can be found on our website: <a href="https://www.crossroads.org.hk/contact/">www.crossroads.org.hk/contact/</a><br/>

<h4>HOW ARE THE ITEMS SELECTED?</h4>
One of our team will help you choose from our available stock. We will supply items based on the request list in your application (shown below), and the availability of stock at the time of your appointment. <br/>

Please note that items donated by Crossroads for personal use are not to be sold under any circumstances. <br/>

<h4>DOES CROSSROADS HAVE ALL ITEMS IN STOCK?</h4>
We love to help wherever possible. However, as we rely on donations from the public, we cannot guarantee the availability of all requested items. In particular, our supply of electrical items is usually very low, due to large demand. We would be glad for you to collect these items, if we have appropriate stock on the day, but cannot promise we will have everything available. <br/>

<h4>ARE THE ITEMS GOOD QUALITY?</h4>
Many of the goods available are used, but normally of good quality. We test all electrical products but, unlike a retail shop selling new items, Crossroads cannot issue guarantees or be held liable for any faults in these donated items. <br/> <br/>

<div><strong>REQUESTED ITEMS:</strong> Your application included requests for the following. </div>

<ul>
<% if @email_property[:requests]%>
  <% @email_property[:requests].each do |request| %>
  	<li> <%= request[:quantity] %> x <%= request[:type_en] %>. <%= request[:description]%> </li>
  <% end %>
<% end %>
</ul>
<br/>

<h4>SHOULD I RETURN BROKEN ELECTRICAL ITEMS? </h4>
Due to the high value of electrical donations, to be eligible to apply for the same item again, we request that any faulty electrical items should be returned for testing. <br/> <br/>

<strong>LENGTH OF VISIT:</strong>  &nbsp; Normally 60-90 minutes for requests of several items, or 30 minutes for smaller requests. During this time, you are welcome to select items and then arrange transport and load your items into the van/truck. <br/> <br/>

<strong>TRANSPORTATION:</strong>  &nbsp; Crossroads can assist in arranging transportation of goods, but regret we cannot assist with transport costs. <br/> <br/>

<strong>EXTRA HELP:</strong> &nbsp;  We sincerely advise you to bring 2-3 other people to assist in moving any big items. The truck driver may be willing, but will charge you extra for lifting. <br/> <br/>

<h4> WHAT IF YOU ARE RUNNING LATE, OR CANNOT MAKE YOUR APPOINTMENT? </h4>
Please phone us on 2196 2743. We usually have other people waiting for the next appointment slots so it is best that you call and see if our team can still fit you in, to avoid disappointment. If not, they can make a new appointment but this may, regrettably, take two months as we are heavily booked.
  </body>
</html>
