<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <p>
    親愛的 <%= @email_property[:contact_name] %>,
  </p>

  <p>
    NOTE: English version further down the page.
  </p>

  <h3>
    回覆：確認訂單  <%= @email_property[:order_code]%>，出貨日期: <%= @email_property[:scheduled_at]%>
  </h3>

  <p>
    感謝您通過國際十字路會提交訂單 <%= @email_property[:order_code]%>。我們會竭盡所能為您服務！
  </p>

  <p>
    請細心閱讀以下內容。如有任何疑問，請聯絡我們。
    <ol>
      <li>
        我們的職員會於安排運送前再次致電您，以確認您能夠接收物品。
      </li>
      <ul>
        <li>
          為了避免不必要的運送及附加費用，我們先會確保與您成功進行聯繫，才執行出貨程序。
        </li>
        <li>
          若我們不能成功進行聯繫，我們或需要取消訂單。
        </li>
      </ul>
      <li>
        當我們完成出貨程序，貨車離開本會後，我們會再次致電您，通知您物品正在運送，亦同時為您提供貨車司機的聯絡電話號碼。
      </li>
      <li>
        我們將為貨車司機提供您的聯絡電話號碼，以便司機在找不到確切位置時能直接聯繫您。
      </li>
    </ol>
  </p>

  <p>
    <strong>物品詳情：</strong>
    <% if @email_property[:goods]%>
      <% @email_property[:goods].each do |good| %>
        <li> <%= good[:quantity] %> x <%= good[:type_en] %>. <%= good[:description]%>. </li>
      <% end %>
    <% end %>
  </p>

  <p>
    我們期待為您提供協助！
  </p>

  <p>
    香港分派中心 <br/>
    國際十字路會<br/>
    聯絡電話: 2272 9343<br/>
    聯絡電郵: local@crossroads.org.hk <br/>
  </p>
  <br/><br/>

  <h4>
    國際十字路會指南
  </h4>
  <p>
    我們很高興能為您服務！我們將會為您提供有關運送物資的指南。
  </p>

  <h4>
    物資使用權限
   </h4>
   <p>
    所有物品均為捐贈物資，只供個人使用，禁止在任何情況作出售之用。除非另作批准，禁止出售任何作團體用途之捐贈物品。
   </p>

   <h4>
    物品的質素良好嗎？
   </h4>
  <p>
    捐贈物資大部分為二手物品，不過物品通常都處於良好狀態。我們已為所有電子產品進行測試。本會並非商業零售商，我們不會對物品中的損壞承擔任何責任。
  </p>

  <h4>
    若收到的電子產品有損壞，我應該歸還嗎？
  </h4>
  <p>
    由於電子產品價格不菲，若您希望重新申請該物品，請您歸還已損壞之物品，以及供我們進行測試。
  </p>

  <p>
    <strong>運送: </strong>
    我們可以協助您安排運送 (電召貨車)。但很抱歉，我們不會負責任何運送費用。
  </p>

  <p>
    <strong>人力: </strong>
      我們的義工會為你於本會裝載物品，但本會不會安排跟車。我們誠懇建議您安排足夠的人力卸載物品。若您要求貨車司機提供卸載物品服務，司機可能會向您收取額外費用。
  </p>

  <h4>
    若您需要修改或取消訂單，該怎麼辦？
  </h4>
  <p>
    請致電香港分派中心2272 9343，我們會盡力提供協助。由於訂單眾多，我們不能保證能提供您要求的相同的物品或安排您的首選替代日期出貨。我們對此深表歉意。
  </p>


  <b>Attention: </b> <%= @email_property[:contact_name]%> <br/>
  <%= @email_property[:contact_organisation_name_en]%> <br/>
  <b>Our Ref#:</b> <%= @email_property[:order_code]%> <br/>
  <p>
    Dear <%= @email_property[:contact_name] %>,
  </p>

  <h3>
    RE: Confirming order <%= @email_property[:order_code]%> to be delivered on <%= @email_property[:scheduled_at]%>
  </h3>

  <p>
    Thank you for ordering items from Crossroads. We are delighted to help in any way that we can.
  </p>

  <% if @email_property[:client] %>
    <p>
      Please take careful note of the steps below and contact us if you have any questions.
    </p>
    <ol>
      <li>
        Our staff will call your beneficiary just before ordering the van to re-confirm that everything is in place for receiving the goods.
      </li>
      <ul>
        <li>
          To avoid unnecessary van costs we will not usually proceed until we have successfully made contact.
        </li>
        <li>
          If we cannot reach your beneficiary we may need to cancel the order.
        </li>
      </ul>
      <li>
        We will usually call a second time when the van leaves our site to flag that the goods are on their way and provide you with the driver’s contact number.
      </li>
      <li>
        The driver will be given your beneficiary’s number so they are able to make contact directly if they have difficulty finding the exact location.
      </li>
    </ol>

  <% else %>
    <p>
      Please take careful note of the steps below and contact us if you have any questions.
      <ol>
        <li>
          Our staff will call you just before ordering the van to re-confirm that everything is in place for receiving the goods.
        </li>
        <ul>
          <li>
            To avoid unnecessary van costs we will not usually proceed until we have successfully made contact.
          </li>
          <li>
            If we cannot reach you we may need to cancel the order.
          </li>
        </ul>
        <li>
          We will usually call a second time when the van leaves our site to flag that the goods are on their way and provide you with the driver’s contact number.
        </li>
        <li>
          The driver will be given your number so they are able to make contact directly if they have difficulty finding the exact location.
        </li>
      </ol>
    </p>
  <% end %>

  <p>
    <strong>ITEMS:</strong> Your delivery includes the following items
    <% if @email_property[:goods]%>
      <% @email_property[:goods].each do |good| %>
        <li> <%= good[:quantity] %> x <%= good[:type_en] %>. <%= good[:description]%> </li>
      <% end %>
    <% end %>
  </p>

  <p>
    We look forward to a successful delivery and hope these items will be helpful! <br/>
    Yours sincerely,<br/>
    Hong Kong Distribution <br/>
    Office Tel: 2272 9343 <br/>
    Email: local@crossroads.org.hk<br/>
  </p>

  <h4>
    CROSSROADS’ GUIDELINES
  </h4>
   <p>
    We look forward to serving with goods from Crossroads. Here are some general guidelines related to goods being delivered.
   </p>

   <h4>
    RESTRICTIONS ON USE OF ITEMS
   </h4>
   <p>
    Items donated by Crossroads for personal use are not to be sold under any circumstances.
    Items donated for organisational use cannot be sold unless an exception is agreed in advance.
   </p>

   <h4>
    ARE THE ITEMS GOOD QUALITY?
   </h4>
    <p>
      Many of the goods available are used, but normally of good quality. We test all electrical products but, unlike a retail shop selling new items, Crossroads cannot issue guarantees or be held liable for any faults in these donated items.
    </p>

    <h4>
      SHOULD I RETURN BROKEN ELECTRICAL ITEMS?
    </h4>
    <p>
      Due to the high value of electrical donations, to be eligible to apply for the same item again, we request that any faulty electrical items should be returned for testing.
    </p>

    <p>
      <strong>TRANSPORTATION:</strong>
      Crossroads can assist in arranging transportation of goods, but regret we cannot assist with transport costs.
    </p>

    <p>
      <strong>LABOUR:</strong>
       Our volunteers will load the van but we will not travel with the goods. We sincerely advise you / beneficiary to make arrangement for sufficient labour to unload the goods. The truck driver may be willing, but will charge extra for lifting.
    </p>

    <h4>
      WHAT IF YOU NEED TO CANCEL OR MODIFY YOUR ORDER?
    </h4>
    <p>
      Please phone us on 2272-9343 and we will try our best to assist. We usually have other people waiting for goods deliveries so we regret that we cannot guarantee that the same items will remain available or that we will be able to accommodate your preferred alternative date.
    </p>
  </body>
</html>
